<!-- 問與答區塊 -->
	<div id="question-container">
		<div class="row-fluid">
			<!-- 問與答內容區塊 -->
			<div class="span12" id="question-content">
				<!-- 標題 -->
				<div id="settings-header">
					<h2>Q&A</h2>
				</div>
				<!-- 摺疊 -->
				<div class="accordion" id="accordion2">
					<!-- 摺疊內容-1 -->
					<div class="accordion-group">
						<!-- 問題1 -->
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						    如何搜尋到菜單?
						  </a>
						</div>
						<!-- 回答1 -->
						<div id="collapseOne" class="accordion-body collapse in">
						  <div class="accordion-inner">
						    進入首頁，挑選地區後進行搜尋，就可以看到系統為您推薦的3份菜單，讓您能立即前往店家享用美食，您也可以將喜歡的菜單加入收藏，待下次前往享用美食。
						  </div>
						</div>
					</div>
					<!-- 摺疊內容-2 -->
					<div class="accordion-group">
						<!-- 問題2 -->
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						    我可以上傳菜單嗎?
						  </a>
						</div>
						<!-- 回答2 -->
						<div id="collapseTwo" class="accordion-body collapse">
						  <div class="accordion-inner">
						    argregaergaerg
						  </div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						    我可以分享菜單嗎?
						  </a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
						  <div class="accordion-inner">
						    Anim pariatur cliche...
						  </div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
						    我可以搜尋到全部的菜單嗎?
						  </a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
						  <div class="accordion-inner">
						    Anim pariatur cliche...
						  </div>
						</div>
					</div>
				</div> <!-- 摺疊區塊 End -->
			</div> <!-- 問與答內容區塊 End -->
		</div> <!-- row-fluid End -->
	</div> <!-- 問與答區塊 End -->