<!-- 頁腳 -->
	<footer id="page-footer">
		<ul class="footer-left">
			<li>
				<a href="">
				關於我們
				</a>
			</li>
			<li>
				<a href="">
				網站地圖
				</a>
			</li>
			<li>
				<li><%= link_to 'Q&A', qa_page_path %></li>
			</li>
		</ul>
		<ul class="footer-right">
			<li>
				<a href="">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
				Facebook<br>
				</a>
			</li>
		</ul>
	</footer>